<!DOCTYPE html>
<html>

<head>
 <title>Reading Tips</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
 <style>
     body{
         background-color: rgb(254, 221, 0);
         display: table-cell;
         color: rgb(63, 42, 86);
     }

     h1,h2{
         color: darkblue;
     }
     
     input{
         font-weight: bold;
     }
     
     html, body {
        height: 100%;
     }

     html {
        display: table;
        margin: auto;
     }
     
 </style>
<body>
    #if ($errors) 
        #if ($errors.size() == 1)
          <strong>Error:</strong>
        #else 
          <strong>Errors:</strong>
        #end
        #foreach ($error in $errors)
          <p>$error</p>
        #end
    #end
    
    #parse($template)
</body>

</html>
