<!DOCTYPE html>
<html>

<head>
 <title>Reading Tips</title>
  <style>
      body {
          background-color: black;
          margin: 20px;
          font-family: 'Questrial', sans-serif;
          font-size: 12pt;
          color: white;
      }
      h1, h2, h3 {
          color: white;
      }
  </style>
</head>

<body>
    #if ($errors) 
        #if ($errors.size() == 1)
          <strong>Error:</strong>
        #else 
          <strong>Errors:</strong>
        #end
        #foreach ($error in $errors)
          <p>$error</p>
        #end
    #end
    
    #parse($template)
</body>

</html>
